<html>
<head>
    <title>{{ TEST_MSG }}</title>
<style>
body {
  background-color: {{ TEST_BC | default("white") }};
  color: {{ TEST_TC | default("black") }};
}
</style>
</head>
<body>
<h1>{{ TEST_MSG }}</h1>
{{ TEST_INFO }}
</body>
</html>
