<html>
<head>
    <title>{{ T1_MSG }}</title>
<style>
body {
  background-color: {{ T1_BC | default("white") }};
  color: {{ T1_TC | default("black") }};
}
</style>
</head>
<body>
<h1>{{ T1_MSG }}</h1>
{{ T1_INFO }}
</body>
</html>
