daemon off;
pid /var/run/nginx/nginx.pid;
worker_processes auto;
worker_rlimit_nofile 65535;

# logging
error_log /dev/stderr info;

events {
	multi_accept on;
	worker_connections 65535;
}

http {
	access_log /dev/stdout;
	server {
		listen {{ TEST_PORT | default(8080) }} default_server;
		server_name _;
		location / {
                root   /var/www/html/;
                index  index.html;
        }

	}

	server {
		listen 127.0.0.1:18181;
		location /healthz {
			return 200;
		}
	}

	include /etc/nginx/conf.d/*.conf;
}
